@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
    background-color: #b2e4ff;
    color: #fff;
    line-height: 1.6;    
}

header {
    height: 70px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      margin-left: 50px;
}

button {
      border: 0;
      border-radius: 8px;
      color: #78A4E3;
      width: 100px;
      height: 30px;
      cursor: pointer;
}

h1 {
  color:rgba(0, 0, 0, 0.75)
}

h2 {
  color: #3477D5

}
.leaderboard {
  display: flex;
    height: 70px;
    width: 100%;
    color: lavender;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.ChoreList {
  display: flex;
  background-color: #8DA9C4;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  height: 750px;
  width: 750px;
  overflow: scroll;
}

.Chore {
  background-color: #EEF4ED;
    color: #13315C;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px 0;
    position: relative;
}

.points-display {
      top: -10px;
      left: -10px;
      color: #fff;
}

.CoverPage {
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
}
.getStarted:hover {
  color: #13315C;
  padding-right: 20px;
  transition: 0.5s;
}

.delete {
  /* margin-left: 590px; */
  top: 10px;
  margin-right: 20px;
}

input {
  border-radius: 10px;
  padding: 5px;
}