@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.leaderboard {
  background-color: blue;
  color: white;
}

.ChoreList {
  display: flex;
  background-color: rgb(58, 58, 188);
  flex-direction: column;
  border-radius: 15px;
}

.Chore {
  background-color: lavender;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  justify-content: space-around;
}