@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
    background-color: #b2e4ff;
    color: #fff;
    line-height: 1.6;    
}

header {
      height: 70px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
}

/* button {
      border: 0;
      border-radius: 8px;
      color: #78A4E3;
      width: 100px;
      height: 30px;
      cursor: pointer;
} */

h1 {
  color:rgba(0, 0, 0, 0.75)
}

h2 {
  color: #3477D5

}
/* .leaderboard {
  display: flex;
    height: 70px;
    width: 100%;
    color: lavender;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
} */

.ChoreList {
  display: flex;
  background-color: #8DA9C4;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  overflow: scroll;
}

.Chore {
  background-color: #EEF4ED;
    color: #13315C;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px 0;
    width: 500px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.points-display {
      font-size: 13px;
      top: -10px;
      left: -10px;
      color: #13315C;
}

.CoverPage {
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
}

.getStarted {
}

.getStarted:hover {
  color: #13315C;
  padding-right: 20px;
  transition: 0.5s;
}

.delete {
  /* margin-left: 590px; */
  position: relative;
    top: 5px;
    right: 0px;
    cursor: pointer;
    background: none;
    border: none;
}

/* .update {
  right: 0px;
  position: relative;

} */

input {
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 600px) {
  body {
    margin: 1em;
  }

  button {
    width: 100%;
  }
}

@media (min-width: 750px) {
  body {
    height: 750px;
    width: 750px;
  }
}